.profile__edit-btn {
    margin: 0 0 7px 10px;
    padding: 0;
    height: 18px;
    width: 18px;
    align-self: flex-end;
    justify-self: flex-start;
    background-image: url(../../../images/edit_profile.svg);
    background-repeat: no-repeat;
    background-size: 7.5px 7.5px;
    background-position: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.profile__edit-btn:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1280px) {
    .profile__edit-btn {
        margin-bottom: 11px;
        grid-row: 1/2;
        grid-column: 3/4;
        height: 24px;
        width: 24px;
        background-size: 10px 10px;
    }
}