.header__logo {
    display: block;
    margin: 28px 27px 31.6px;
    padding: 0;
    width: 103.74px;
    height: 24.4px;
    background-color: transparent;
}

@media screen and (min-width: 1280px) {
    .header__logo {
        margin: 45px 0 41px;
        width: 142px;
        height: 33px;
    }
}