.popup__input-error {
    display: block;
    position: absolute;
    left: 22px;
    padding: 0;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
}

@media screen and (min-width: 1280px) {
    .popup__input-error {
        left: 36px;
    }
}