.popup__container_item {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 282px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1280px) {
    .popup__container_item {
        width: 430px;
    }
}