.login__input {
    margin: 30px auto 0;
    padding: 0 0 13px;
    width: 358px;
    height: 14px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    border-color: transparent;
    border-bottom: 2px solid #CCCCCC;
    background-color: #000000;
    color: #ffffff;
}

.login__input:focus {
    outline: 0;
}