.elements {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
}

@media screen and (min-width: 1280px) {
    .elements {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 17px;
    }
}