.popup__name {
    margin: 25px 22px 45px;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
}

@media screen and (min-width: 1280px) {
    .popup__name {
        margin: 34px 64px 24px 36px;
        font-size: 24px;
    }
}